<!-- src/views/about.ejs -->
<div class="about-container">
  <h1>About Me</h1>
  <p>
    Here's a little bit about me, I like playing video games, listening to
    music, and coding.
  </p>
  <img
    class="profile-picture"
    src="/images/profile2.jpg"
    alt="Your Profile Picture"
    class="profile-picture"
  />
</div>
